P.Procedure {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 12pt 0pt 12pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 12pt;  FONT-WEIGHT: bold; }

P.ListNumber2CxSpFirst {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.CodeBlockCxSpFirst {LINE-HEIGHT: normal;  TEXT-INDENT: -14.2pt;  MARGIN: 0pt 5.65pt 0pt 56.7pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  FONT-SIZE: 9pt; }

SPAN.ProcedureChar {FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold; }

P.MsoListNumber2CxSpMiddle {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 54.0pt; }

P.MsoListBullet2CxSpFirst {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 54.0pt; }

P.MsoListNumberCxSpFirst {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 36.0pt; }

SPAN.bodytextchar0 {}

P.Sub-Heading0 {LINE-HEIGHT: 150%;  MARGIN: 0pt 0pt 6pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold;  tab-stops: 17.85pt 36.0pt; }

P.MsoListBullet2CxSpLast {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 54.0pt; }

P.MsoListNumber2CxSpFirst {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 54.0pt; }

P.CodeBlock {LINE-HEIGHT: normal;  TEXT-INDENT: -14.2pt;  MARGIN: 0pt 5.65pt 6pt 56.7pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  FONT-SIZE: 9pt; }

SPAN.ListContinueChar {FONT-FAMILY: "Verdana","sans-serif"; }

SPAN.apple-converted-space {}

P.MsoListBulletCxSpFirst {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 37.7pt; }

P.ListNumber2CxSpLast {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.CodeCxSpFirst {LINE-HEIGHT: normal;  TEXT-INDENT: -14.2pt;  MARGIN: 0pt 5.65pt 0pt 14.2pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  FONT-SIZE: 9pt; }

SPAN.Heading1Char {FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold; }

P.MsoListNumberCxSpLast {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 36.0pt; }

SPAN.Monospace {FONT-FAMILY: "Courier New"; }

SPAN.apple-style-span {}

SPAN.Heading2Char {FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold; }

P.ListNumber2CxSpMiddle {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.Codebox {LINE-HEIGHT: normal;  MARGIN: 0pt 0pt 0pt 51.05pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #e2e9ea;  FONT-SIZE: 9pt; }

P.Copyright {LINE-HEIGHT: normal;  MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: #7f7f7f;  FONT-SIZE: 8pt; }

P.TableBodyText {LINE-HEIGHT: 14pt;  MARGIN: 5pt 0pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

SPAN.Heading3Char {FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold; }

SPAN.d2hlistmarker {}

P.Default {LINE-HEIGHT: normal;  MARGIN: 0pt;  FONT-FAMILY: "Arial","sans-serif";  TEXT-AUTOSPACE: ;  COLOR: black;  FONT-SIZE: 12pt; }

P.CodeCxSpMiddle {LINE-HEIGHT: normal;  TEXT-INDENT: -14.2pt;  MARGIN: 0pt 5.65pt 0pt 14.2pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  FONT-SIZE: 9pt; }

SPAN.BodyTextChar {FONT-FAMILY: "Verdana","sans-serif"; }

P.MsoListNumber3CxSpFirst {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 46.3pt; }

P.MsoListBullet2CxSpMiddle {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 54.0pt; }

P.TableHeading {LINE-HEIGHT: 14pt;  MARGIN: 5pt 0pt 0pt 2.15pt;  FONT-FAMILY: "Verdana","sans-serif";  COLOR: #484848;  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

P.ListBulletContinue {LINE-HEIGHT: 14pt;  MARGIN: 5pt 0pt 0pt 37.7pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.sub-heading {LINE-HEIGHT: normal;  FONT-FAMILY: "Times New Roman","serif";  MARGIN-LEFT: 0pt;  FONT-SIZE: 12pt;  MARGIN-RIGHT: 0pt; }

P.MsoListBulletCxSpMiddle {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 37.7pt; }

P.Subheading {LINE-HEIGHT: normal;  MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

P.TableCode {LINE-HEIGHT: normal;  MARGIN: 0pt 5.65pt 6pt 8.8pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  FONT-SIZE: 9pt; }

SPAN.Heading6Char {FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold; }

P {LINE-HEIGHT: 14pt;  MARGIN: 5pt 0pt 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt; }

P.TableListNumber {LINE-HEIGHT: 14pt;  TEXT-INDENT: -7.2pt;  MARGIN: 5pt 0pt 0pt 14.4pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 14.4pt; }

SPAN.SpecialBold {LETTER-SPACING: 0pt;  FONT-WEIGHT: bold; }

P.CodeCxSpLast {LINE-HEIGHT: normal;  TEXT-INDENT: -14.2pt;  MARGIN: 0pt 5.65pt 6pt 14.2pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  FONT-SIZE: 9pt; }

P.MsoListNumberCxSpMiddle {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 36.0pt; }

SPAN.procedurechar0 {}

P.CodeBlockCxSpMiddle {LINE-HEIGHT: normal;  TEXT-INDENT: -14.2pt;  MARGIN: 0pt 5.65pt 0pt 56.7pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  FONT-SIZE: 9pt; }

P.codespacer {LINE-HEIGHT: normal;  MARGIN: 0pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 9pt; }

P.MsoListNumber3CxSpLast {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 54pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 46.3pt; }

P.MsoListBulletCxSpLast {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 18pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 37.7pt; }

P.Code {LINE-HEIGHT: normal;  TEXT-INDENT: -14.2pt;  MARGIN: 0pt 5.65pt 6pt 14.2pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  FONT-SIZE: 9pt; }

SPAN.ListnumdzChar {FONT-FAMILY: "Calibri","sans-serif"; }

P.CodeBlockCxSpLast {LINE-HEIGHT: normal;  TEXT-INDENT: -14.2pt;  MARGIN: 0pt 5.65pt 6pt 56.7pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  FONT-SIZE: 9pt; }

P.MsoListNumber2CxSpLast {LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 36pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-SIZE: 10pt;  tab-stops: list 54.0pt; }

