P.CodeBlockCxSpFirst {TEXT-INDENT: -14.2pt;  MARGIN: 6pt 5.65pt 0pt 56.7pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  COLOR: #666560;  FONT-SIZE: 9pt; }

SPAN.ProcedureChar {FONT-FAMILY: "Arial","sans-serif";  COLOR: #666560;  FONT-WEIGHT: bold; }

P.MsoListNumber2CxSpMiddle {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 36pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #666560;  FONT-SIZE: 10pt;  tab-stops: list 54.0pt; }

SPAN.bodytextchar0 {}

P.MsoListNumber2CxSpFirst {TEXT-INDENT: -18pt;  MARGIN: 6pt 0pt 0pt 36pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #666560;  FONT-SIZE: 10pt;  tab-stops: list 54.0pt; }

SPAN.ListContinueChar {FONT-FAMILY: "Arial","sans-serif";  COLOR: #666560; }

SPAN.apple-converted-space {}

P.MsoListContinueCxSpMiddle {MARGIN: 0pt 0pt 0pt 36pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #666560;  FONT-SIZE: 10pt; }

P.CodeCxSpFirst {TEXT-INDENT: -14.2pt;  MARGIN: 6pt 5.65pt 0pt 14.2pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  COLOR: #666560;  FONT-SIZE: 9pt; }

SPAN.Heading1Char {FONT-FAMILY: "Arial Bold";  COLOR: #484848;  FONT-WEIGHT: bold; }

P.MsoListContinueCxSpLast {MARGIN: 0pt 0pt 0pt 36pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #666560;  FONT-SIZE: 10pt; }

SPAN.apple-style-span {}

SPAN.Heading2Char {FONT-FAMILY: "Arial Bold";  COLOR: #484848;  FONT-WEIGHT: bold; }

P.MsoListContinueCxSpFirst {MARGIN: 3pt 0pt 0pt 36pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #666560;  FONT-SIZE: 10pt; }

P.Codebox {MARGIN: 6pt 0pt 0pt 51.05pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #e2e9ea;  COLOR: #666560;  FONT-SIZE: 9pt; }

SPAN.Heading3Char {FONT-FAMILY: "Arial Bold";  COLOR: #666560; }

SPAN.d2hlistmarker {}

P.Default {MARGIN: 0pt;  FONT-FAMILY: "Arial","sans-serif";  TEXT-AUTOSPACE: ;  COLOR: black;  FONT-SIZE: 12pt; }

P.CodeCxSpMiddle {TEXT-INDENT: -14.2pt;  MARGIN: 0pt 5.65pt 0pt 14.2pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  COLOR: #666560;  FONT-SIZE: 9pt; }

SPAN.BodyTextChar {FONT-FAMILY: "Arial","sans-serif";  COLOR: #666560; }

P.MsoListNumber3CxSpFirst {TEXT-INDENT: -18pt;  MARGIN: 6pt 0pt 0pt 54pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #666560;  FONT-SIZE: 10pt;  tab-stops: list 46.3pt; }

P.Subheading {MARGIN: 6pt 0pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #666560;  FONT-SIZE: 10pt;  FONT-WEIGHT: bold; }

SPAN.Heading6Char {FONT-FAMILY: "Palatino Linotype","serif";  COLOR: #08215c;  FONT-WEIGHT: bold; }

P {MARGIN: 6pt 0pt 0pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #666560;  FONT-SIZE: 10pt; }

P.CodeCxSpLast {TEXT-INDENT: -14.2pt;  MARGIN: 0pt 5.65pt 6pt 14.2pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  COLOR: #666560;  FONT-SIZE: 9pt; }

SPAN.procedurechar0 {}

P.ListNumber2 {TEXT-INDENT: -18pt;  MARGIN: 3pt 0pt 3pt 54pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #666560;  FONT-SIZE: 10pt; }

P.CodeBlockCxSpMiddle {TEXT-INDENT: -14.2pt;  MARGIN: 0pt 5.65pt 0pt 56.7pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  COLOR: #666560;  FONT-SIZE: 9pt; }

P.MsoListNumber3CxSpLast {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 54pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #666560;  FONT-SIZE: 10pt;  tab-stops: list 46.3pt; }

SPAN.ListnumdzChar {FONT-FAMILY: "Calibri","sans-serif";  COLOR: #666560; }

P.CodeBlockCxSpLast {TEXT-INDENT: -14.2pt;  MARGIN: 0pt 5.65pt 6pt 56.7pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  COLOR: #666560;  FONT-SIZE: 9pt; }

P.MsoListNumber2CxSpLast {TEXT-INDENT: -18pt;  MARGIN: 0pt 0pt 0pt 36pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: #666560;  FONT-SIZE: 10pt;  tab-stops: list 54.0pt; }

